.collections{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(235, 235, 253);
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.collections-header{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
}

.collections-body{
    overflow: scroll;
    box-sizing: border-box;
    width: 100%;
}

.collection-actions img{
    margin: 5px;
}

.collections table{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: scroll;
    border-spacing: 0px;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.collections table thead th{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.collections table tbody tr {
    text-align: center;
    background-color: white;
    /* border-radius: 10px; */
    border: 0px;
    /* border-collapse: separate; */
    box-sizing: border-box;
    height: 30px;
    /* padding-top: 5px;
    padding-bottom: 5px; */
}

.collections table tbody td {
    padding-top: 10px;
    padding-bottom: 10px;
}

.collections table tbody td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.collections table tbody td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.collections-header > button{
    /* make button transparent */
    background-color: transparent;
    border: none;
    color:rgb(74, 28, 84);
    font-size: 20px;
}

.collection-schema{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.collections .modal{
    justify-content: flex-end;
    align-items: center;
}

.collections .modal-content{
    justify-content: center;
    /* align-items: center; */
    background-color: white;
    height: 100%;
    widtH: 30vw;
    min-width: 300px;
    max-width: 500px;
    padding-left: 20px;
    padding-right: 20px;
}

.collections .modal-content form{
    width: 100%;
    box-sizing: border-box;
}

.collections .modal-content .value-input {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.collections .modal-content .value-input label {
    color: rgb(123, 123, 123);
    margin-top: 10px;
}

.collections .modal-content .value-input input {
    border-radius: 5px;
    height: 30px;
    /* width: 100%; */
    margin-top: 5px;
}

.collections .modal-content .form-scroll{
    overflow-y: scroll;
    height: 90%;
}

.collections .modal-content .form-footer {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.collections .modal-content .form-footer button {
    background-color: blueviolet;
    color: white;
    margin: 10px 5px;
    border: 0px;
    height: 40px;
    width: 130px;
}

#create-collection-cancel-button{
    background-color: transparent;
    color: rgb(123, 123, 123);
}

