.sidebar{
    /* position: fixed; */
    overflow: scroll;
    top: 0;
    left: 0;
    width: 30vw;
    max-width: 300px;
    min-width: 170px;
    height: 100vh;
    background-color: rgb(37, 37, 37);
}

.sidebar-header{
    display: flex;
    /* flex: 2; */
    /* justify-content: center; */
    /* height: 50px; */
    max-height: 69px;
    align-items: center;
    font-weight: bolder;
    color: white;
    font-size: 25px;
    padding: 20px;
    background-color: blueviolet;
}

.sidebar h4{
    padding-top: 5px;
    padding-bottom: 5px;
    color: rgb(123, 123, 123);
}

.content-type{
    color: rgb(86, 86, 86);
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
}