.App {
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.basic-padding{
  padding-left: 20px;
  padding-right: 20px;
}

input{
  border-radius: 5px;
}

button{
  border-radius: 5px;
}

.rounded-corners{
  border-radius: 5px;
}
